@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62,5%;
    /*reference for CSS rem Unit*/
}

/* layouts */

body {
    min-height: 100vh;
    font-family: 'Outfit', sans-serif;
    background-color: hsl(212, 45%, 89%);
    font-size: 1.0rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    row-gap: 4rem;

}

main {
    background-color: hsl(0, 0%, 100%);
    max-width: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.qr-box {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 1rem;
}

.content-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.6rem 1rem 2rem 1rem;
}

.attribution {
    display: flex;
    flex-direction: row;
    align-items: center;
}

@media screen and (max-width: 480.98px) {
    .attribution {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

/* styles */

h3,
p {
    text-align: center;
    margin: 0.5rem 1rem;
}

h3 {
   
    color: hsl(218, 44%, 22%);
}

p {
    color: hsl(220, 15%, 55%);
}


a {
    text-decoration: none;
}

img,
.qr-box,
main {
    border-radius: 0.8rem;
}

img {
    max-width: 100%;
}